.container {
  padding: 0 0rem;
}

.logo {
  position: absolute;
  width: 878px;
  height: 139px;
  left: 201px;
  top: 277px;
}

.name {
  position: absolute;
  width: 188px;
  height: 65px;
  left: 300px;
  top: 457px;
}

.compose {
  position: absolute;
  width: 189px;
  height: 73px;
  left: 300px;
  top: 562px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameinfo {
  position: absolute;
  width: 541px;
  height: 66px;
  left: 532px;
  top: 456px;
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: #b0aaaa;
}

.composerinfo {
  position: absolute;
  width: 541px;
  height: 66px;
  left: 532px;
  top: 561px;
  background-color: transparent;
  border-style: solid;
  border-width: medium;
  border-color: #b0aaaa;
}

.confirm {
  position: absolute;
  width: 399px;
  height: 58px;
  left: 465px;
  top: 651px;
}
